html {
    width: 100%;
}

body {
    counter-reset: table;
    counter-reset: figure;
    width: 33em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    background: #fff;
    foreground: #333;
    font-family: 'Cardo', serif;
    font-size: 21px;
}

table:not(.toc) caption:before {
    content: "Table " counter(table) ": ";
}

img.natural {
    width: inherit;
}

img.figure {
    width: 33em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p > img {
    counter-increment: figure;
}

div.figure > p + p:before {
    content: "Figure " counter(figure) ": ";
}

caption {
    caption-side: bottom;
}

table {
    counter-increment: table;
    margin-left: auto;
    margin-right: auto;
}

table.toc td:first-of-type {
    text-align: right;
}

table.toc td:nth-of-type(2):before {
    content: "\2022";
    padding-right: 0.5em;
}

table.toc td:nth-of-type(2) {
    font-style: italic;
}