html {
    width: 100%;
}

body {
    width: 33em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    background: #fff;
    foreground: #333;
    font-family: 'Cardo', serif;
    font-size: 21px;
}

img {
    max-width: 100%;
}

caption {
    caption-side: bottom;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table.toc td:first-of-type {
    text-align: right;
}

table.toc td:nth-of-type(2):before {
    content: "\2022";
    padding-right: 0.5em;
}

table.toc td:nth-of-type(2) {
    font-style: italic;
}

pre {
    font-size: smaller;
    background-color: #f3f5f7;
}

span.org-comment-delimiter {
    color: #cdcd00;
}

span.org-comment {
    color: #cdcd00;
}

span.org-keyword {
    color: #00cdcd;
    font-weight: bold;
}

pre.src-scheme:before {
    content: 'Scheme';
}
