html {
    width: 100%;
}

body {
    counter-reset: table;
    width: 33em;
}

caption:before {
    content: "Table " counter(table) ": ";
}

caption {
    caption-side: bottom;
}

table {
    counter-increment: table;
}